body,
ul,
li,
p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
    font-family: Arial;
}
:root{
    --cor01: #C400FF;
    --cor02: #00FF9B;
    --cor03: #FFB200;
    --cor04: #A17FAB;
    --cor05: #648075;
}
body{
    background-color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d8c3df;
}

.header__img{
    width: 3em;
}

.header__menu{
    display: flex;
}

.header__lista{
    margin-left: 20px;
}


.header__link{
    color: var(--cor05);
    text-decoration: none;
    display: block;
    padding: 10px;

}

.header__link:hover{
    color: var(--cor04);
    border-radius: 5px;
}

main{
    text-align: center;
    align-content: center;
}


.apresentacao{
    background-image: url(andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.apresentacao{
    padding: 100px 100px;
    min-height: 50rem;
    color: white;
    margin: 0 auto;
    
}
.apresentacao__titulo:hover{
    color: #C400FF;
}

.section_card{
    background-color: var(--cor04);
    border-radius: 10px;
    padding: 3em;
    color: aliceblue;
    width: 80%;
    margin: 3rem auto 0;
}

.section_card--sobre{
    background-color: var(--cor03);
}

.servicos__trabalhos{
    columns: 4;
    padding: 10px;
}

.depoimentos {
    text-align: center;
    
}

.depoimentos__lista{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    margin-top: 1em;

}
.depoimentos__div{
    background-color: var(--cor04) ;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.depoimentos__titulo{
    margin: 3rem auto 0;

}

.contatos{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
}

.contatos__input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor04);
    width: 100%;
    box-sizing: border-box;
}

@media (max-width:580px){
    .header{
        padding: 10px;
        flex-direction: row;
        height: auto;
    }
    .header__menu{
        flex-wrap: wrap;
    }
    .header__lista{
        margin-left: 5px;
    }
    .header__link{
        padding: 5px;
    }
}

@media (max-width: 590px){
    .section_card{
        width: 50%;
    }
    .servicos__trabalhos{
        padding: 1em;
        columns: 1;
    }
}